.dost-main {
    background-color: #fff;
    height: fit-content;
    width: 100%;
    padding: 100px 0;
}

.dost-poster {
    background: url(https://abhilashmodi.com/images/TPTW.jpg) center center/contain no-repeat;
    height: 45vmax;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

/* @media (max-width: 600px) {
    .dost-poster {
        background: url(https://abhilashmodi.com/images/TPTW.jpg) center center/contain no-repeat;
        height: 50vmax;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
    }
} */

.query-para {
    width: 100%;
    padding: 50px 180px;
    font-size: 1.6vmax;
    font-weight: 900;
    font-family: 'Syne', sans-serif;
}

@media (max-width: 500px) {
    .query-para {
        width: 100%;
        padding: 0px 10px;
        font-size: 1.6vmax;
        font-weight: 900;
        font-family: 'Syne', sans-serif;
    }

}

#container button {
    overflow: visible;
}

#container button,
#container select {
    text-transform: none;
}

#container button,
#container input,
#container select,
#container textarea {
    color: #5a5a5a;
    font: inherit;
    margin: 0;
}

#container input {
    line-height: normal;
}

#container textarea {
    overflow: auto;
}

#container {
    max-width: 768px;
    margin: 60px auto;
    position: relative;
}

#container form {
    padding: 37.5px;
    margin: 50px 0;
}

#container h1 {
    color: #474544;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.email {
    float: right;
    width: 45%;
}

#container input[type="text"],
[type="email"],
#container select,
#container textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#container input[type="text"]:focus,
[type="email"]:focus,
#container textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

#container select {
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#container select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

#container textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder {
    color: #474544;
    opacity: 1;
}

::-moz-placeholder {
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #474544;
}

#form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#form_button:hover {
    background: #474544;
    color: #f2f3eb;
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px auto;
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    #container h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    #container h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    #container input[type="text"],
    [type="email"],
    #container select,
    #container textarea {
        font-size: 0.875em;
    }
}