.featured {
    border: none;
    position: relative;
    /* background-color: #92b8cd !important; */
    background-color: #fff !important;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    margin-top: rem;
    overflow: hidden;
}

/* footer ********/
.featured-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 10rem;
}

.featured-head-div {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    font-size: 7vmax;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #92b8cd;
}

.featured-head-div span {
    display: inline-block;
}


.header__marq {
    height: fit-content;
    display: flex;
    justify-content: center;
}

:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements: 12;
    /* defined with JavaScript */
    --marquee-elements-displayed: 10;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    /* --marquee-animation-duration: calc(var(--marquee-elements) * 0.1s); */
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 8rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #fff 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    gap: 6rem;
    animation: scrolling 12s alternate infinite;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        /* transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements) )); */
        transform: translateX(-2500px);
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 120px;
    /* height: 100%; */
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

/*  */

.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-img img {
    height: 84vmin;
    width: 100vw;
    object-fit: contain;
}