.effortless {
    height: 10vmax;
    overflow: hidden;
    min-width: 100vw;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
.effortless p {
    font-size: 7vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.fancy {
    position: relative;
    white-space: nowrap;
}

.fancy:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
} */


.effortless p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    line-height: 1.1;
    color: #fff;
}


.effortless p:after {
    --deco-height: 0.2125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 90%;
    background-repeat: round;
    background-position: 0em;
    animation: rise 0.6s ease-in-out 0.5s forwards;
}

.large {
    font-size: 5rem;
}

.small {
    font-size: 2rem;
}

.rise {
    text-shadow: -0.01em -0.01em 0.01em #fff;
    animation: rise 0.6s ease-in-out 0.5s forwards;
}

@keyframes rise {
    to {
        text-shadow: 0em 0.01em #92b8cd, 0em 0.02em #92b8cd, 0em 0.02em 0.03em #92b8cd,
            -0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
            -0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
            -0.03em -0.03em 0.03em #000;
        transform: translateY(-0.025em) translateX(0.04em);

    }
}

@keyframes rise2 {
    from {
        background-size: 0 0;
    }
}