.tagline {
    background-color: #000;
    background-image: url(https://i.pinimg.com/564x/39/48/5c/39485c9746c51af44d0f90cd504c4c52.jpg);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right;

    margin-inline: auto;
    width: 600px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.profile-title {
    width: 30rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-right: 7rem;
}

.title-head {
    color: #fff;
    width: max-content;
    font-size: 4vmax;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1;
    margin-inline: auto;
}

@media (max-width:800px) {
    .tagline {
        background-size: 0px;

        width: 90vw;
        height: 120px;
    }



    .title-point {
        color: #fff;
        /* color: #000; */
        display: flex;
        /* background-color: #000; */
        width: max-content;
        font-size: 3.5vmax !important;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 900;
        border-radius: 20px;
        line-height: 1.2;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        letter-spacing: 2px;
    }

    .title-point:nth-child(2) {
        position: relative;
        left: 100px !important;
        color: #fff !important;
        /* margin-left: 10rem; */
    }

    .title-point:nth-child(3) {
        text-decoration: line-through;
    }

    .arrow-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

    .arrow-icon svg {
        width: 5vmax;
    }

}

.titles-box {
    display: flex;
    flex-direction: column;
}

.title-point {
    color: #fff;
    /* color: #000; */
    display: flex;
    /* background-color: #000; */
    width: max-content;
    font-size: 3.2vmax;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 20px;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    letter-spacing: 2px;
    line-height: 1.3;
}

.title-point:nth-child(2) {
    position: relative;
    left: 160px;
    color: #000;
    /* margin-left: 10rem; */
}

.title-point:nth-child(3) {
    text-decoration: line-through;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.arrow-icon svg {
    width: 5vmax;
}